<h1>Editing metodo pago</h1>

<%= render "form", metodo_pago: @metodo_pago %>

<br>

<div>
  <%= link_to "Show this metodo pago", @metodo_pago %> |
  <%= link_to "Back to metodo pagos", metodo_pagos_path %>
</div>
